/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2018, 3:58:51 PM
    Author     : soup
*/

body {
    font-size: 14pt;
    margin-left: 2em;
    margin-right: 2em;
    font-family: Arial;
}

main {
    margin-top: 2em;
    padding: .5em;
    clear: both;
    border: 2px solid #85a3e0;
}

.special_text {
    font-family: "Bree Serif";
    text-decoration: none;
}

.special_text a {
    color: black;
    text-decoration: none;
}

.special_text a:active, .special_text a:hover{
    color: #800080;
} 

#title {
    font-size: 300%;
    color: #85a3e0;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0;
}
#signout {
    float:right;    
}

#title span {
    color: #800080;
}

#login_register {
    float: right;
}
#copyright {
    text-align: right;
}

#navbar {
    border-top: 2px solid #85a3e0;    
}

#navbar ul {
    list-style-type:none;
    margin: 0;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    background-color: #85a3e0;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    text-align: center;
    display: block;
    width: 289.5px;
    height: 30px;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 150%;
    border-right: 1px solid #bbb;
}

#navbar li a:hover {
    background-color: #800080;    
}